version: "3.8"
services:
  golf-flipper:
    build: .
    container_name: golf_flipper_service
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - ./data:/app/data